.nav-and-footer {
    background-color: #ff4081;
}

.normal-card {
    background-color: #26c6da;
    color: #ffffff;
}

.review-card {
    background-color: #ffffff;
    color: #757575;
}

.title-colour {
    color: #757575;
}


